<!--============================== slider =================================-->
<div class="slider">
    <div class="container">
        <div class="row">
            <div class="span10 offset1">
<div class="flexslider">

    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1200%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-1537.77777671814px, 0px, 0px);"><li data-thumb="assets/img/slider/slide4.jpg" class="clone" style="width: 768.88888835907px; float: left; display: block;"> <img src="assets/img/slider/slide4.jpg">
                <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
            </li>

            <li data-thumb="bundles/stcsite/img/slider/slide2.jpg" class="" style="width: 768.88888835907px; float: left; display: block;"> <img src="bundles/stcsite/img/slider/slide2.jpg">
                <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </li>
            <li data-thumb="bundles/stcsite/img/slider/slide3.jpg" class="flex-active-slide" style="width: 768.88888835907px; float: left; display: block;"> <img src="bundles/stcsite/img/slider/slide3.jpg">
                <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
            </li>
            <li data-thumb="bundles/stcsite/img/slider/slide5.jpg" class="" style="width: 768.88888835907px; float: left; display: block;"> <img src="bundles/stcsite/img/slider/slide5.jpg">
                <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </li>
            <li data-thumb="bundles/stcsite/img/slider/slide4.jpg" style="width: 768.88888835907px; float: left; display: block;" class=""> <img src="bundles/stcsite/img/slider/slide4.jpg">
                <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
            </li>
            <li data-thumb="bundles/stcsite/img/slider/slide2.jpg" class="clone" style="width: 768.88888835907px; float: left; display: block;"> <img src="bundles/stcsite/img/slider/slide2.jpg">
                <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </li></ul></div><ol class="flex-control-nav flex-control-thumbs"><li><img src="bundles/stcsite/img/slider/slide2.jpg" class=""></li><li><img src="bundles/stcsite/img/slider/slide3.jpg" class="flex-active"></li><li><img src="bundles/stcsite/img/slider/slide5.jpg" class=""></li><li><img src="bundles/stcsite/img/slider/slide4.jpg" class=""></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
<span id="responsiveFlag"></span>
                </div>
            </div>
        </div>
    </div>